.footer{
    display: flex;
    justify-content: center;
    background: #1b1b1b;
    padding: 35px 0 40px 0;
}

.footer-text{
    opacity: 0.5;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    color: #ffffff;
    display: inline-block;
}

@media screen and (max-width: 425px){
    .footer-text{
        font-size: 11px;
        line-height: 17px;
        font-weight: 300;
    }
}