#main{
    background: #373737 url(../img/manufacture/1.jpg) center no-repeat;
    padding: calc(var(--base-size-xl) * 4) 0;
    position: relative;
    z-index: 4;
    background-size: cover;
}

#main::after{
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    z-index: -1;
}

.main-img{
    position: relative;
    left: -100px;
}

.main-img::after{
    content: '';
    display: block;
    width: 390px;
    height: 390px;
    border: 1px solid #fff;
    position: absolute;
    top: 15px;
    left: 98px;
    border-radius: 50%;
    z-index: -1;
}

.main-text{
    margin-left: 35px;
}

.main-text__title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 41px;
    margin-bottom: 16px;
}

.main-text__subtitle{
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 24px;
}

.main-text__form{
    position: relative;
    z-index: 3;
    color: white;
    line-height: 1.4;
    padding: 30px 27px;
    min-width: 530px;
}

.main-text__form::after{
    content: '';
    display: block;
    width: 100%;
    height: 240px;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
    top: 0;
    left: 0;
}

.form-title{
    font-size: 20px;
    font-weight: 300;
    color: var(--title-text-color);
    max-width: 409px;
    margin-bottom: 10px;
}

.form-important{
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form{
    display: flex;
    justify-content: space-between;
}

.form__input{
    border: 0;
    flex-basis: 65%;
    padding: 18px;
    margin-right: 12px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.button-big{
    flex-basis: 35%;
    padding: 22px 20px;
}

.text-additional{
    display: block;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 15px;
}
@media screen and (max-width: 1024px){
    .image-cardboard{
        width: 400px;
    }
    .main-img::after{
        width: 360px;
        height: 360px;
        top: 4px;
        left: 50px;
    }
    .main-img{
        left: -30px;
    }
}

@media screen and (max-width: 991px){
    .header-logo{
        margin-left: 58px;
    }
}

@media screen and (max-width: 768px){
    .main-text{
        text-align: center;
        margin-left: 0;
    }
    .main-text__title{
        margin-left: 35px;
        font-size: 32px;
    }

    .main-text__subtitle{
        margin-bottom: 14px;
        margin-left: 35px;
        font-size: 24px;
    }

    .main-text__form{
        padding-left: 80px;
        padding-right: 60px;
        padding-top: 10px;
        text-align: -webkit-center;
    }

    .form-title{
        font-size: 16px;
    }

    .form-important{
        font-weight: 700;
        font-size: 16px;
    }

    .button-big{
        padding-right: 20px;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 35px;
        width: 30%;
    }

    .main-text__form::after{
        height: 240px;
        width: 85%;
        left: 40px;
    }

    .text-additional{
        margin-left: 0;
    }

    .image-cardboard{
        width: 265px;
    }

    .main-img{
        display: none;
    }

    .main-img::after{
        display: none;
    }
    .main-text__title{    
        color: #ff9d00;
        font-size: 22px;
        }

    .main-img::after{
        display: none;
    }

    .main-img{
        display: none;
    }

    .main-text__form::after{
        display: none;
    }

    .main-text__form{
        min-width: 280px;
    }

    .form__input{
        width: 50%;
        margin-bottom: 15px;
    }

    .form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main{
        padding: 50px 0 20px 0;
    }
}

@media screen and (max-width: 576px){
    .main-text__title{    
        color: #ff9d00;
        font-size: 22px;
        }

    .main-img::after{
        display: none;
    }

    .main-img{
        display: none;
    }

    .main-text__form::after{
        display: none;
    }

    .main-text__form{
        min-width: 280px;
    }

    .form__input{
        flex-basis: 60%;
    }

    .button-big{
        flex-basis: 30%;
    }

    .form{
        justify-content: flex-start;
    }


}


@media screen  and (max-width: 425px) {
    #main{
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .main-text{
        margin: 0;
        text-align: center;
    }

    .main-text__subtitle{
        font-size: 18px;
        margin-left: 0;
    }

    .main-text__form{
        width: 280px;
        padding: 0;
        left: 5px;
    }

    .form{
        display: block;
    }

    .form-title{
        font-size: 15px;
        margin: 0 auto;
    }

    .form-important{
        font-size: 15px;
        font-weight: 700;
        margin-top: 14px;
    }

    .form__input{
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        margin-top: 16px;
        text-align: center;
    }

    .button-big{
        padding: 18px 30px;
        margin: 0 auto;
        width: 65%;
        padding-left: 35px;
    }

    #request{
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .text-additional{
        font-size: 13px;
        margin-left: 0;
    }

    .main-text__title{
        margin-left: 0;       
    }
    .form-important{
        margin-bottom: 0;
    }
}

@media (min-width: 321px) and (max-width: 425px){
    .main-text__form{
        width: 100%;
    }
    .button-big{
        padding-left: 75px;
    }
}

