
.menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.menu ul li{
    border-right: 1px dotted #ededed;
    padding-right: 14px;
}

.menu ul li:hover a{
    cursor: pointer;
    color: var(--button-bgcolor);
}

.menu ul li:last-child{
    border-right: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #ededed;
    text-transform: uppercase;
    height: 24px;
    display: block;
    padding-top: 5px;
}
/* медиа запросы для менюшки */
.menu-big {
    background-color: #373737;
    padding-top: 17px;
    padding-bottom: 16px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.menu-big .menu__list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
.menu-big .menu__list__item {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    border-right: 1px dotted white;
    padding-right: 15px;
    text-align: center;
}
.menu-big .menu__list__item-last {
    padding-right: 0;
    border-right: none;
}
.menu-big .menu__list__item a {
    text-decoration: none;
    color: #fff;
}
.menu-link {
    display: none;
    position: fixed;
    top: 29px;
    left: 15px;
    width: 23px;
    height: 17px;
    z-index: 10001;
}
.menu-link span {
    display: block;
    position: absolute;
    height: 3px;
    width: 22px;
    background-color: #000;
    z-index: 15;
}
.menu-link span::before {
    content: '';
    margin-top: -8px;
    display: block;
    position: absolute;
    height: 3px;
    width: 22px;
    background-color: #000;
    transition: all 0.2s;
}
.menu-link span::after {
    content: '';
    margin-top: 8px;
    display: block;
    position: absolute;
    height: 3px;
    width: 22px;
    background-color: #000;
    transition: all 0.2s;
}
.menu-link-active span {
    background-color: transparent;
}
.menu-link-active span::before {
    transform: rotate(135deg);
    margin-top: 0;
}
.menu-link-active span::after {
    transform: rotate(-135deg);
    margin-top: 0;
}


.menu-mobile {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all .2s;
    background-color: rgba(255, 157, 0, .8);
}
.menu-mobile ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.menu-mobile ul li {
    line-height: 35px;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.menu-mobile ul li a {
    font-weight: 500;
    display: block;
    width: 100%;
    text-decoration: none;
    letter-spacing: 3px;
    color: #fff;
}
.menu-mobile ul li a:hover {
    transition: all .2s;
    color: #000;
    background-color: rgba(255, 255, 255, .9);
}
.menu-mobile-active {left: 0;}

@media (max-width: 768px) {   
    .menu-link {display: block;}
    .menu-big{display: none;}
}