#offer{
    background: #373737 url(../img/offer/spec-form1.jpg) center no-repeat;
    position: relative;
    background-size: cover;
    z-index: 4;
    padding-bottom: 70px;
}

#offer::after{
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .3);
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer-title{
    margin: 0 auto;
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 65px;
}

.offer-input__title{
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 32px;
}

.offer-subtitle{
    margin: 0 auto;
    font-weight: 400;
    color: #ffffff;
    font-size: 26px;
    margin-top: 10px;
}

.form-offer{
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.form-input{
    margin: 0;
    cursor: pointer;
}

.button-offer{
    display: block;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 180px;
    margin: 0px auto;
    margin-top: 12px;
}

.text-additional{
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}   

.offer-input{
    text-align: center;
    margin: 0 auto;
    width: 365px;
    padding-top: 21px;
    padding-bottom: 20px;
}

@media screen and (max-width: 425px){
    .offer-title{
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }

    .offer-subtitle{
        font-size: 18px;
        font-weight: 400;
    }

    .offer-input__title{
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
        color: #ffffff;
    }

    .form__input{
        width: 270px;
    }

    .text-additional{
        font-size: 14px;
        line-height: 30px;
        font-weight: 300;
        color: #ffffff;
    }
}

@media screen and (max-width: 320px){
    .offer-title{
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }

    .offer-subtitle{
        font-size: 16px;
        font-weight: 400;
    }

    .offer-input__title{
        font-size: 14px;
        line-height: 30px;
        font-weight: 300;
        color: #ffffff;
    }

    .form__input{
        width: 270px;
    }

    .text-additional{
        font-size: 13px;
        line-height: 30px;
        font-weight: 300;
        color: #ffffff;
    }
}